*{
    margin: 0;
    padding: 0;
}

nav {
    text-align: center;
    border: 2px solid black;
    background-color: rgb(5, 5, 5);
}

h1{
    font-size: 3vw;
    text-align: center;
    background-color:bisque;
}

.card{
    display: flex; 
}

.card1,.card2,.card3,.card4,.card4,.card5,.card6
,.card7,.card8,.card9 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 30vh;
    width: 33%;
    margin: 10px 10px 10px 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

button{
    padding: 15px 30px 15px 30px;
    font-size: 2vw;
    border: 1px solid black;
    border-radius: 4px;
    background-color: blanchedalmond;
    font-weight: bold;
}
